.tl { position: absolute; top: 5%; left: 5%; right: 50%; bottom: 50%;}
.tr { position: absolute; top: 5%; left: 41%; right: 0; bottom: 50%;}
.bl { position: absolute; top: 56%; left: 5%; right: 50%; bottom: 0; }
.br { position: absolute; top: 56%; left: 41%; right: 0; bottom: 0;}
